<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionstring" value="Host=localhost;Username=postgres;Password=1234;Database=tourplanner"/>
    <add key="apikey" value="LgTX5mEGe7j0LCBSogZeCfv5mz64JBTS"/>
    <add key="filepath" value="C:\Repos\tourplanner\Files"/>
  </appSettings>
</configuration>